h1 {
	width: 600px;
	height: 600px;
	color: white;
	background-color: red;
	border-radius: 50%;
	margin: 200px auto;
	line-height: 600px;
	text-align: center;
	transition: 2s ease;

}

h1:hoer {
	transform: rotate(180deg);
}